* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e9ecef;
  zoom: 90%;
}
.dashboard-item {
  padding: 10px;
  transition: background-color 0.2s ease;
  color: #333;
}

.dashboard-item:hover {
  background-color: #fe8c0058;
  cursor: pointer;
}

.dashboard-item.active {
  background-color: #fe8c0058;
  border-left: 4px solid red;
  color: #000;
}
.sidebar-box {
  background-color: #fe8c00;
}

.btn-addmenu {
  background-color: #f2f5f3;
  color: black;
}
.btn-addmenu:hover {
  background-color: #f2f5f3;
  color: black;
}
.content {
  background-color: #e9ecef;
}
.card-section {
  background-color: white;
  margin-left: 1.2rem;
  padding: 10px;
  border-radius: 5px;
}
.card-images img {
  border-radius: 20px;
}
.kab-heading-size {
  font-size: 15px;
}

.menue-dashbord {
  display: block;
}
@media (max-width: 300px) {
  .content h5,
  .content small {
    font-size: 0.8rem !important;
  }

  .content img {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (max-width: 576px) {
  .card-section {
    align-items: stretch !important;
  }
  .image-heght {
    width: 500px;
    height: 290px;
    border-radius: 50px;
  }
  .kab-heading-size {
    font-size: 29px;
  }
  .menue-dashbord {
    display: none;
  }
}

/*  */
.background-main {
  background-color: #fe8c0059;
}
.m-left {
  margin-left: 5rem;
}
.review-section {
  background-color: #f2f5f3;
  border-radius: 10px;
  padding: 10px;
}

.jimy {
  border: 1px solid #ddd;
  padding: 4px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 16px;
}
.jimy-img {
  width: 57px;
  height: 54px;
  margin-left: 5px;
  border-radius: 50%;
}
.jimmy-text{
  font-size: 13px;
}
